/* layout and styling for documentation site */

body {
}

div#portaltop {
    margin:0 auto;
    width:100%;   
    height:158px;
    z-index:1 !important;
    background:transparent url(../images/body-bg-2.png) repeat-x top left;
}
div#portaltop img {
    margin-left:auto;
    margin-right:auto;
    display:block; 
}

#portal-colophon {
    width:100%;
    height:auto;
    margin-top:5px;
}

#ex-footer {
    margin:0 auto;
    padding:0;
    height:auto;
    width:99.6%;
    background-color:#b32c13;
    display: table;
}
#ex-footer p {
    color:#ffffff;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size:1.2em;
    font-weight:bold;    
}

.tab_notes {
    margin-top:10px;
    margin-bottom:5px;
}

.styled-select {
    display:inline;
}

#doc-notes {
    margin:0 auto;
    padding:3px 0 0 3px;
    color:#ef330e;
    font-size:1em;
    width:auto;
    display:inline;
    position:absolute;
}

#download_txt {
    margin-left:10px;
}
.download-all {
    margin:0 auto;
    text-align:center;
    padding-top:5px;
    width:auto;
}
.download-xml {
    margin-left:3px;
    padding-left:20px;
    padding-bottom:4px;
    background-image: url(../images/download-akn-ex.png);
    width:40px;
}

/*.styled-select select {
   background: #b32c13;
   color:#ffffff;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 24px;
}*/
.styled-select select {
   background: #b32c13;
   color:#ffffff;
   width: 268px;
   padding: 2px 3px 0px 3px;
   font-size: 16px;
   font-family: arial, helvetica, sans-serif !important;
   border: 1px solid #3a3a38;
   outline: none;
   height: 24px;
   
    -moz-border-radius: 5px; 
    -webkit-border-radius:5px; 
    border-radius:5px;   
}
.styled-select select:not([size]):not([multiple]) option, 
.styled-select select[size="0"] option, 
.styled-select select[size="1"] option {
    background-color: #b32c13;
    color:#fff;
    font-size: 16px;
}

/* MISC */
.rounded-eigh {
    -moz-border-radius: 8px; 
    -webkit-border-radius:8px; 
    border-radius:8px;
}  
.rounded-eigh-noleft { /* no topleft */
    -moz-border-radius: 8px; 
    -webkit-border-radius:8px; 
    border-radius:8px;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;    
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;     
}    

.rounded-five {
    -moz-border-radius: 5px; 
    -webkit-border-radius:5px; 
    border-radius:5px;
}  
.rounded-five-top {
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px !important;    
} 
.rounded-five-bottom {
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px !important;    
} 

ul.load-content::-webkit-scrollbar,
div#maincontainer div::-webkit-scrollbar,
div#documaincontainer div::-webkit-scrollbar{
    width: 12px;
}
ul.load-content::-webkit-scrollbar-track,
div#maincontainer div::-webkit-scrollbar-track,
div#documaincontainer div::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
ul.load-content::-webkit-scrollbar-thumb,
div#maincontainer div::-webkit-scrollbar-thumb,
div#documaincontainer div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.tooltip {
    position: absolute;
    margin:0 auto;
    margin-top:100px;
    padding: 10px 15px 5px 5px;
    z-index: 999;
    color: #303030;
    background-color: #F5F5B5;
    border: 1px solid #DECA7E;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    width:450px;
    
    -moz-border-radius: 5px; 
    -webkit-border-radius:5px; 
    border-radius:5px;    
}
#docu-header .tooltip {
    width:200px;   
}
.tooltip ul {
    width:100%;
    text-align:left;
    margin:0;
    padding-left:15px;
}
.helpers-wrapper {
    margin:0 auto;
    margin-top:-20px;
    width:99%;
    height:20px;
}

.helpers {
    margin:0;
    width:20px;
    cursor:pointer;
}

/*
 * Splitter container. Set this to the desired width and height
 * of the combined left and right panes. In this example, the
 * height is fixed and the width is the full width of the body,
 * less the margin on the splitter itself.
 */
#maincontainer {
    margin:0 auto;
	min-height: 600px;
	border: 4px solid #3a3a38;
	overflow: hidden;
	/* No padding allowed */
}
/*
 * Left-side element of the splitter. Use pixel units for the
 * min-width and max-width; the splitter plugin parses them to
 * determine the splitter movement limits. Set the width to
 * the desired initial width of the element; the plugin changes
 * the width of this element dynamically.
 */
#LeftPane {
    padding-top:5px;
	background: transparent;
	overflow: hidden;
	/* No margin or border allowed */
}
/*
 * Right-side element of the splitter.
 */
#RightPane {
    padding-top:5px;
	background: transparent;
	overflow: hidden;
	/* No margin or border allowed */
}
/* 
 * Splitter bar style; the .active class is added when the
 * mouse is over the splitter or the splitter is focused
 * via the keyboard taborder or an accessKey. 
 */
#documaincontainer .splitter-bar-vertical, 
#maincontainer .splitter-bar-vertical {
    width: 8px;
    border: 0 none !important;
    background: #3a3a38 url(../images/vgrabber.gif) no-repeat top;
    border-right-color: #434343 !important;
    border-style: solid !important;
}
#documaincontainer .splitter-bar-vertical.active, 
#maincontainer .splitter-bar-vertical.active {
	background: #979795 url(../images/vgrabber.gif) no-repeat center;
	opacity: 0.7;
}

/* Alphabetical Listinng - Documentation Page*/
#documaincontainer {
    margin:0 auto;
	min-height: 600px;
	border: 4px solid #3a3a38;
	overflow: hidden;
	/* No padding allowed */
}
#DocuLeftPane {
    padding-top:5px;
	background: transparent;
	overflow: hidden;
	/* No margin or border allowed */
}
#DocuRightPane {
    padding-top:5px;
	background: transparent;
	overflow: hidden;
	/* No margin or border allowed */
}

/*EXPERIMENTS */
#map {
  width: 400px;
  height: 200px;
}

#map.fullscreen {
  position: fixed;
  width:100%;
  height: 100%;
}

/* SCREEN TOGGLE */
#scrn-toggle {
    width:auto;
    margin-right:5px;
    display:inline;
    z-index:5;
    float:right;
    position:absolute !important;
    right:0;    
}
img.contained
{
    width:18px;
    height:13px;
    background:url(../images/toggle-icon.gif) 0px -22px;
    cursor:pointer;
}    
img.full
{
    width:18px;
    height:13px;
    background:url(../images/toggle-icon.gif) 0px -4px;
    cursor:pointer;
} 
.diff-legend {
    float:left;
    margin-right:50px;
    height:20px;
    width:300px;
    display:none;
}
.diff-legend > div {
    margin-bottom:0;
}
.square {
	height: 10px;
	width: 10px;
	display:inline;
}
.c-changes {
    background-color:#ffdd88;
}
.c-add {
    background-color:#99ee99;
}
.c-del {
    background-color:#ee9999;
}

/* popup */
.button {
    background-color: #b32c13;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
.button.small {
    border-radius: 15px;
    float: right;
    margin: 22px 5px 0;
    padding: 6px 15px;
}
.button:hover {
    background-color: #1e1e1e
}
.button>span {
    font-size: 84%
}
.button.bClose {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}
::-moz-selection {
    background-color: #2b92be;
    color: #fff;
    text-shadow: none;
}
::selection {
    background-color: #2b92be;
    color: #fff;
    text-shadow: none;
}
#popup {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 450px;
    padding: 25px;
}
#popup .logo {
    color: #2B91AF;
    font: bold 325% 'Petrona',sans;
}
.lt-ie9 .bModal {
    background-color: #000
}
.load-content {
    width:800px;
    height:auto;
    max-height:300px;
    overflow: auto;
    overflow-x: hidden;    
}
.load-content,
.load-content ul {
    display:block;
    list-style-type:none;
    margin:0 !important;
    padding:0 !important;   
}
.load-content span.category
{
    display: inline;
    color: #000;
    padding: 0 12px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-size:1.2em;
}
.load-content li li a {
    display: inline;
    text-decoration: none;
    font-weight: normal;  
}
.load-content li ul li {
    border-bottom:1px dotted #ddd;
    margin:0;
    margin-left:30px;
    padding:5px 0;
    cursor:pointer;
}
.load-content li ul li:last {
    border-bottom:0 none;  
}
.load-content li li a:link,
.load-content li li a {
    font-size:1.1em; 
    color:#111;
}
.load-content li li a:hover { 
    color:#333 !important;
}
.load-content li li:active,
.load-content li li:hover {
    background-color: #eee;
}
.load-content li li a code { 
    color:#b32c13 !important;
}

.load-content .open {
	display: block;
	}
.load-content .closed {
	display: none;
	}     
.load-content li img {
	vertical-align: middle;
}
.load-content xmp {
    display:inline;
}
/* button */
.classname {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#B32C13 !important;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 14px;
	text-decoration:none !important;
	text-shadow:1px 1px 0px #ffffff;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.classname:active {
	position:relative;
	top:1px;
}
.document-title {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	display:inline-block;
	color:#B32C13 !important;
	font-size:15px;
	font-weight:bold;
	padding:4px 14px;
	text-decoration:none !important;
	text-shadow:1px 1px 0px #ffffff;
}